CompileFlags:
  Compiler: clang++
  Add:
    - "-std=c++17"
    - "-Iinclude"
    - "-Ithird_party/metal-cpp"
    - "-DSPIKECOREC_METAL"
    - "-DSPIKECOREC_CUDA"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "pp_file_not_found"

Index:
  Background: Build
